<form>
    <div class="alert alert-info" role="alert">
        <strong>Fear not!</strong> We hate spam just as much as you! Your email address is just used for authentication and notifications. It will not sold or distributed.
    </div>
    <div class="form-group">
        <label for="email_address">Email Address</label>
        <input type="email" class="form-control" id="email_address" placeholder="someone@example.org">
    </div>
    <div class="form-group">
        <label for="password">Title</label>
        <input type="password" class="form-control" id="password">
    </div>
    <button type="submit" class="btn btn-primary">Sign Up</button>
</form>