<form ng-submit="createSubmit()">
    <div class="alert alert-danger" role="alert" ng-hide="!error">
        <strong>Oops, looks like something went wrong</strong> {{error.message}}
    </div>
    <div class="alert alert-success" role="alert" ng-hide="!response">
        <strong>Yippe! A new url has been born.</strong> <a href="{{ location.origin }}/{{ response.id }}" rel="external">{{ location.origin }}/{{ response.id }}</a>
    </div>
    <div ng-hide="response">
        <div class="form-group">
            <label for="url">URL</label>
            <input type="text" class="form-control" ng-model="full_url" id="url" placeholder="http://justvisit.it/">
        </div>
        <div class="checkbox">
            <label for="get_stats">
                <input type="checkbox" id="get_stats" ng-model="checked" aria-label="Toggle ngShow"> collect stats?
            </label>
        </div>
        <div class="check-element animate-hide" ng-show="checked">
            <div class="form-group">
                <label for="email_address">Email Address</label>
                <input type="email" class="form-control" ng-model="email_address" id="email_address" placeholder="someone@example.org">
            </div>
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" ng-model="title" id="title" placeholder="Title of Webpage (optional)">
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea class="form-control" ng-model="description" id="description" rows="5"></textarea>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>